html {
    overflow: auto;
}

body {
    overflow: hidden;
}

.bg-pink {
    background-color: #E65079;
}

.bg-dark-purple {
    background-color: #6850E6!important;
}

.active {
    background-color: #3E80CB!important;
}

.question label {
    font-size: 10pt;
}

.jumbotron {
    text-align: left;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-shadow: 2px 2px 10px #666666;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.display-4 {
    font-size: 30pt;
}